.button1 {
    &__style {
      display: flex;
      float: right;
      margin-top: 5px;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #020302;
      height: 30px;
      width: 80px;
      text-align: center;
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      transition: all 0.2s ease-in-out;
    }
 }